/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root, :root,
#__next {
  isolation: isolate;
  --headingBackground: #ebf4ff;
  --buttonBackground: #2979ec;
  --buttonBackgroundInverse: #ffbe3c;
  --footerBackground: #0a459e;
  --main: white;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

b {
  font-weight: 700;
}

/******* LANDING PAGE STYLES *******/
.header {
  background-color: var(--headingBackground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15rem;
  padding-right: 15rem;
}

.ebqLogo {
  width: 90px;
}

.sections {
  margin-left: 23rem;
  margin-right: 23rem;
}

.section1Box {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 23rem;
  padding-right: 64rem;
  background-color: var(--headingBackground);
}

.section1Title {
  padding-bottom: 1rem;
  line-height: 2.5rem;
}

.section2Box {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
}

.section2Title {
  padding-right: 6rem;
  padding-bottom: 1rem;
  line-height: 2.5rem;
}

.section2Paragraph {
  padding-right: 10rem;
}

.section2ImageDiv {
  width: 150rem;
}

.section3Box {
  padding-top: 4rem;
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
}

.section3ImageDiv {
  width: 100rem;
}

.section3Words {
  padding-left: 10rem;
}

.section3Title {
  padding-bottom: 1rem;
  padding-right: 8rem;
  line-height: 2.5rem;
}

footer {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: var(--footerBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBox {
  margin-bottom: 3rem;
}

.footerTitle {
  color: var(--main);
  font-size: 2.5rem;
}

.buttonTop {
  background-color: var(--buttonBackground);
  border: none;
  color: var(--main);
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 0.5s;
}

.buttonTop:hover {
  background-color: var(--buttonBackgroundInverse);
  color: var(--footerBackground);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonBottom {
  background-color: var(--buttonBackgroundInverse);
  border: none;
  color: var(--footerBackground);
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 0.5s;
}

.buttonBottom:hover {
  background-color: var(--buttonBackground);
  color: var(--main);
}

.scrollUp{
  position: fixed;
}

.scrollUpButton{
  background-color: var(--buttonBackgroundInverse);
  border: none;
  color: var(--footerBackground);
  padding: 0.3rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
  transition-duration: 0.5s;
  opacity: 0.5;
  border-radius: 1rem;
  z-index: 1;
  transition: 0.4s;
}

.scrollUpButton:hover{
  background-color: var(--buttonBackground);
  color: var(--main);
}

.show-scroll{
  bottom: 5%;
  right: 5%;
}

/* iPad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    justify-content: space-between;
    padding: 0;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .sections {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }

  .section1Box {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .section1Paragraph {
    padding-right: 20rem;
  }

  .section2Box {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .section2Title {
    padding-right: 4rem;
  }

  .section2Paragraph {
    padding-right: 4rem;
  }

  .section3Box {
    padding-bottom: 5rem;
  }

  .section3Words {
    padding-left: 5rem;
  }

  footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footerTitle {
    font-size: 2rem;
  }
}

/* iPhone */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
  }

  .ebqLogo {
    width: fit-content;
  }

  .buttonTopDiv {
    width: fit-content;
  }

  .section1Title,
  .section1Paragraph {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    line-height: 1;
  }

  .section1Box {
    padding: 0;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .section1Title {
    font-size: 6.5rem;
    padding-bottom: 3rem;
  }

  .section1Paragraph {
    font-size: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    line-height: 1.5;
  }

  .sections {
    margin: 0;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .section2Box,
  .section3Box {
    align-items: center;
    flex-direction: column-reverse;
  }

  .section2Title,
  .section2Paragraph,
  .section3Title,
  .section3Paragraph,
  .section3Words {
    padding: 0;
    text-align: center;
  }

  .section2ImageDiv,
  .section3ImageDiv {
    width: auto;
  }

  .section2Words {
    padding-top: 5rem;
  }

  .section2Title,
  .section3Title {
    font-size: 6.5rem;
    line-height: 1;
  }

  .section2Paragraph,
  .section3Paragraph {
    padding-top: 5rem;
    font-size: 2.5rem;
  }

  .section3Image {
    padding-top: 6rem;
  }

  .footerTitle {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 4rem;
    text-align: center;
  }

  .buttonTop,
  .buttonBottom {
    font-size: 2.5rem;
    padding: 0.5em 2em 0.5em 2em;
  }

  .scrollUpButton {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

}
