/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  h1{
    font-weight:normal;
    font-size: 2rem;
  }

  p{
    font-size: 1.3rem;
  }

  b{
    font-weight: 700;
  }

/******* LANDING PAGE STYLES *******/
.header {
    background-color: #EBF4FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
}

.ebqLogo{
  width: 90px;
}

.sections{
    margin-left: 23rem;
    margin-right: 23rem;
}

.section1Box{
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 23rem;
  padding-right: 64rem;
  background-color: #EBF4FF;
}

.section1Title{
  padding-bottom: 1rem;
  line-height:2.5rem
}

.section2Box{
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
}

.section2Title{
  padding-right: 6rem;
  padding-bottom: 1rem;
  line-height:2.5rem;
}

.section2Paragraph{
  padding-right: 10rem;
}

.section2ImageDiv{
  width: 150rem;
}

.section3Box{
  padding-top: 4rem;
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
}

.section3ImageDiv{
  width: 100rem;
}

.section3Words{
  padding-left: 10rem;
}

.section3Title{
  padding-bottom: 1rem;
  padding-right: 8rem;
  line-height:2.5rem;
}

footer {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: #0A459E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBox{
  margin-bottom: 3rem;
}

.footerTitle{
  color: white;
  font-size: 2.5rem;
}

.buttonTop{
  background-color: #2979EC;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 0.5s;
}

.buttonTop:hover{
  background-color: #FFBE3C;
  color: #0A459E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonBottom{
  background-color: #FFBE3C;
  border: none;
  color: #0A459E;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 0.5s;
}

.buttonBottom:hover{
  background-color: #2979EC;
  color: white;
}

/* iPad */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

  .header {
    justify-content: space-between;
    padding: 0;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .sections{
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }

  .section1Box{
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .section1Paragraph{
    padding-right: 20rem;
  }

  .section2Box{
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .section2Title{
    padding-right: 4rem
  }

  .section2Paragraph{
    padding-right: 4rem
  }

  .section3Box{
    padding-bottom: 5rem;
  }

  .section3Words{
    padding-left: 5rem;
  }

  footer{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footerTitle {
    font-size: 2rem;
  }

}


/* iPhone */
@media screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
      padding-bottom: 10rem;
    }

    .ebqLogo {
      width: fit-content;
    }

    .buttonTopDiv {
      width: fit-content;
    }

    .section1Title, .section1Paragraph {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      line-height: 1;
    }

    .section1Box {
      padding: 0;
      text-align: center;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }

    .section1Title {
      font-size: 6.5rem;
      padding-bottom: 3rem;
    }

    .section1Paragraph {
      font-size: 2.5rem;
      padding-left: 5rem;
      padding-right: 5rem;
      line-height: 1.5;
    }

    .sections {
      margin: 0;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .section2Box, .section3Box {
      align-items: center;
      flex-direction: column-reverse;
    }

    .section2Title, .section2Paragraph, .section3Title, .section3Paragraph, .section3Words{
      padding: 0;
      text-align: center;
    }

    .section2ImageDiv, .section3ImageDiv {
      width: auto;
    }

    .section2Words {
      padding-top: 5rem;
    }

    .section2Title, .section3Title{
      font-size: 6.5rem;
      line-height: 1;
    }

    .section2Paragraph, .section3Paragraph {
      padding-top: 5rem;
      font-size: 2.5rem;
    }

    .section3Image {
      padding-top: 6rem;
    }

    .footerTitle {
      padding-left: 5rem;
      padding-right: 5rem;
      font-size: 4rem;
      text-align: center;
    }

    .buttonBottomDiv {
    }

}
